/* your styles go here */
/* Example site test */

.box-image-text .image {
    min-height: 190px;
    max-height: 190px;
}

.box-image-text .image img {
    max-height: 190px;
    margin: auto;
}

.box-simple {
    min-height: 230px;
}


/* Gallery & masonry custom css */
img {
    width: 100%;
  }
  
.masonry {
    /*column-count: 4;*/
    column-count: 4;
    column-gap: 16px;
}

.masonry .mItem {
  display: inline-block;
  margin-bottom: 16px;
  width: 100%;
  border: 1px solid #000;
}

@media (max-width: 1199px) {
  .masonry {
    column-count: 3;
  }
}

@media (max-width: 991px) {
  .masonry {
    column-count: 2;
  }
}

@media (max-width: 767px) {
  .masonry {
    column-count: 1;
  }
  .masonry .mItem {
    margin-bottom: 10px;
    margin-top: 10px;
  }

}
  


/* CONTACT */
/* @import url(//fonts.googleapis.com/css?family=Montserrat:400,500);
*/
.c2a6 {
  font-family: "Montserrat", sans-serif;
  color: #8d97ad;
  font-weight: 300;
}

.c2a6 h1,
.c2a6 h2,
.c2a6 h3,
.c2a6 h4,
.c2a6 h5,
.c2a6 h6 {
  color: #3e4555;
}

.c2a6 .btn-danger {
  background: #ff4d7e;
  border: 1px solid #ff4d7e;
}

.c2a6 .subtitle {
  color: #8d97ad;
  line-height: 24px;
}

.c2a6 .btn-md {
    padding: 15px 45px;
    font-size: 16px;
}
