<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  <head>
    {{ partial "headers.html" . }}
    {{ partial "custom_headers.html" . }}
  </head>

  <body>

    <div id="all">

        {{ partial "top.html" . }}

        {{ partial "nav.html" . }}

        {{ partial "carousel.html" . }}

        <div id="content">
          <div class="container">
            <div class="row">
              <h2>L’Atelier</h2>
              Notre atelier est le spécialiste des retouches haut de gamme de robes de mariée et de soirée en Ile de France. Nos clientes viennent également de la France entière, et parfois même de pays lointains. Nous sommes situés à seulement 25km de Paris, en voiture ou via les transports en commun.
        
              <h2>L’expérience au service des clientes et de leurs robes</h2>
              Nous intervenons sur les robes de mariée et les robes de soirée des plus grands couturiers : Pronovias, Elie Saab, Valentino, …
              
              Notre savoir-faire, acquis depuis plus de 30 années, dont plus de 10 années en tant que responsable de l’atelier de retouche Pronovias, vous donne la garantie d’un travail irréprochable.        
            </div>
          </div>
        </div>

        {{ partial "features.html" . }}

        {{ partial "testimonials.html" . }}

        {{ partial "see_more.html" . }}

        {{ partial "recent_posts.html" . }}

        {{ partial "clients.html" . }}

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>
